@model UFPCore.Models.Predictions.FACupViewModel
@using UFPCore.Models
@{
    ViewBag.Title = "FA Cup Predictions";
}

<h2>Predictions</h2>
<div class="row">
    <partial name="_NavLinks"></partial>
</div>

@using (Html.BeginForm("FACup", "Prediction", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <h4>Predict the answers to these questions about the FA Cup:</h4>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>Name the 8 quarter finalists:</p>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small-b-margin">
                            @Html.DropDownListFor(m => m.FACup.QF1, Html.GetEnumSelectList(typeof(CupTeamsEnum)), "select a team", new { @class = "form-control margin-left" })
                            @Html.ValidationMessageFor(m => m.FACup.QF1, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group form-group-small-b-margin">
                            @Html.DropDownListFor(m => m.FACup.QF3, Html.GetEnumSelectList(typeof(CupTeamsEnum)), "select a team", new { @class = "form-control margin-left" })
                            @Html.ValidationMessageFor(m => m.FACup.QF3, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group form-group-small-b-margin">
                            @Html.DropDownListFor(m => m.FACup.QF5, Html.GetEnumSelectList(typeof(CupTeamsEnum)), "select a team", new { @class = "form-control margin-left" })
                            @Html.ValidationMessageFor(m => m.FACup.QF5, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group form-group-small-b-margin">
                            @Html.DropDownListFor(m => m.FACup.QF7, Html.GetEnumSelectList(typeof(CupTeamsEnum)), "select a team", new { @class = "form-control margin-left" })
                            @Html.ValidationMessageFor(m => m.FACup.QF7, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small-b-margin">
                            @Html.DropDownListFor(m => m.FACup.QF2, Html.GetEnumSelectList(typeof(CupTeamsEnum)), "select a team", new { @class = "form-control margin-left" })
                            @Html.ValidationMessageFor(m => m.FACup.QF2, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group form-group-small-b-margin">
                            @Html.DropDownListFor(m => m.FACup.QF4, Html.GetEnumSelectList(typeof(CupTeamsEnum)), "select a team", new { @class = "form-control margin-left" })
                            @Html.ValidationMessageFor(m => m.FACup.QF4, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group form-group-small-b-margin">
                            @Html.DropDownListFor(m => m.FACup.QF6, Html.GetEnumSelectList(typeof(CupTeamsEnum)), "select a team", new { @class = "form-control margin-left" })
                            @Html.ValidationMessageFor(m => m.FACup.QF6, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group form-group-small-b-margin">
                            @Html.DropDownListFor(m => m.FACup.QF8, Html.GetEnumSelectList(typeof(CupTeamsEnum)), "select a team", new { @class = "form-control margin-left" })
                            @Html.ValidationMessageFor(m => m.FACup.QF8, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <p>Name the 4 semi-finalists:</p>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small-b-margin">
                            @Html.DropDownListFor(m => m.FACup.SF1, Html.GetEnumSelectList(typeof(CupTeamsEnum)), "select a team", new { @class = "form-control margin-left" })
                            @Html.ValidationMessageFor(m => m.FACup.SF1, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group form-group-small-b-margin">
                            @Html.DropDownListFor(m => m.FACup.SF3, Html.GetEnumSelectList(typeof(CupTeamsEnum)), "select a team", new { @class = "form-control margin-left" })
                            @Html.ValidationMessageFor(m => m.FACup.SF3, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small-b-margin">
                            @Html.DropDownListFor(m => m.FACup.SF2, Html.GetEnumSelectList(typeof(CupTeamsEnum)), "select a team", new { @class = "form-control margin-left" })
                            @Html.ValidationMessageFor(m => m.FACup.SF2, "", new { @class = "text-danger" })
                        </div>                        
                        <div class="form-group form-group-small-b-margin">
                            @Html.DropDownListFor(m => m.FACup.SF4, Html.GetEnumSelectList(typeof(CupTeamsEnum)), "select a team", new { @class = "form-control margin-left" })
                            @Html.ValidationMessageFor(m => m.FACup.SF4, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <p>Who will win the FA Cup:</p>
                <div class="form-group form-group-small-b-margin">
                    @Html.DropDownListFor(m => m.FACup.Winner, Html.GetEnumSelectList(typeof(CupTeamsEnum)), "select a team", new { @class = "form-control margin-left" })
                    @Html.ValidationMessageFor(m => m.FACup.Winner, "", new { @class = "text-danger" })
                </div>
                <p>Who will be the runner up:</p>
                <div class="form-group form-group-small-b-margin">
                    @Html.DropDownListFor(m => m.FACup.RunnerUp, Html.GetEnumSelectList(typeof(CupTeamsEnum)), "select a team", new { @class = "form-control margin-left" })
                    @Html.ValidationMessageFor(m => m.FACup.RunnerUp, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.FACup.Id)
        @Html.HiddenFor(m => m.FACup.User)
        @Html.HiddenFor(m => m.Completions.User)
        @Html.HiddenFor(m => m.Completions.Id)
        <p>When you have completed this section, tick this box: @Html.CheckBoxFor(m => m.FACupCompleted)</p>
        <p>You can still come back and edit the predictions later.</p>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-light">Save and continue</button>
            </div>
        </div>  
    </div>
}


